# Rust builds
/target
# This file contains environment-specific configuration like linker settings
.cargo/config.toml

# ICEs
/rustc-ice-*.txt

# TrenchBroom
assets/**/autosave/
assets/**/*.bsp
assets/**/*.log
assets/**/*.pts
assets/**/*.texinfo.json
assets/**/*.leak.prt