[(object:Sunlight,transform:(translation:(0.0,0.0,0.0),rotation:(-0.38268346,0.0,0.0,0.9238795),scale:(1.0,1.0,1.0)),name:Some("Sunlight")),(object:Npc,transform:(translation:(-5.0,1.0,0.0),rotation:(0.0,0.7069847,0.0,0.70722884),scale:(1.0,1.0,1.0)),name:Some("Npc")),(object:Level,transform:(translation:(-5.1,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0)),name:Some("Level")),(object:Orb,transform:(translation:(0.7,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0)),name:Some("Orb"))]