[(object:Sunlight,transform:(translation:(0.0,0.0,0.0),rotation:(-0.38268346,0.0,0.0,0.9238795),scale:(1.0,1.0,1.0)),parent:None,name:Some("Sunlight")),(object:Npc,transform:(translation:(-5.0,1.0,0.0),rotation:(0.0,0.70710677,0.0,0.70710677),scale:(1.0,1.0,1.0)),parent:None,name:Some("Npc")),(object:Level,transform:(translation:(-5.1,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0)),parent:None,name:Some("Level"))]