(
  assets:
   [ 
    ("Fox", File ( path: "blueprints/Fox.glb" )),
    ("fox_material", File ( path: "materials/fox_material.glb" )),
    ("Sidewalk Side", File ( path: "blueprints/Sidewalk Side.glb" )),
    ("Sidewalk", File ( path: "materials/Sidewalk.glb" )),
    ("Sidewalk Center", File ( path: "blueprints/Sidewalk Center.glb" )),
    ("Sidewalk", File ( path: "materials/Sidewalk.glb" )),
    ("Sidewalk Corner", File ( path: "blueprints/Sidewalk Corner.glb" )),
    ("Sidewalk", File ( path: "materials/Sidewalk.glb" )),
    ("Road Straight", File ( path: "blueprints/Road Straight.glb" )),
    ("citybits_texture", File ( path: "materials/citybits_texture.glb" )),
    ("Road Straight Crossing", File ( path: "blueprints/Road Straight Crossing.glb" )),
    ("citybits_texture", File ( path: "materials/citybits_texture.glb" )),
    ("Road T-Split", File ( path: "blueprints/Road T-Split.glb" )),
    ("citybits_texture", File ( path: "materials/citybits_texture.glb" )),
    ("Road Corner Curved", File ( path: "blueprints/Road Corner Curved.glb" )),
    ("citybits_texture", File ( path: "materials/citybits_texture.glb" )),
    ("Car Blue", File ( path: "blueprints/Car Blue.glb" )),
    ("TailLights", File ( path: "materials/TailLights.glb" )),
    ("Headlights", File ( path: "materials/Headlights.glb" )),
    ("Blue", File ( path: "materials/Blue.glb" )),
    ("Black", File ( path: "materials/Black.glb" )),
    ("Windows", File ( path: "materials/Windows.glb" )),
    ("Grey", File ( path: "materials/Grey.glb" )),
    ("Building Red", File ( path: "blueprints/Building Red.glb" )),
    ("brick_shade1", File ( path: "materials/brick_shade1.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("wood", File ( path: "materials/wood.glb" )),
    ("brick_shade2", File ( path: "materials/brick_shade2.glb" )),
    ("sandstone", File ( path: "materials/sandstone.glb" )),
    ("window_glass", File ( path: "materials/window_glass.glb" )),
    ("window_frame", File ( path: "materials/window_frame.glb" )),
    ("Building Red Corner", File ( path: "blueprints/Building Red Corner.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("brick_shade1", File ( path: "materials/brick_shade1.glb" )),
    ("wood", File ( path: "materials/wood.glb" )),
    ("brick_shade2", File ( path: "materials/brick_shade2.glb" )),
    ("sandstone", File ( path: "materials/sandstone.glb" )),
    ("window_glass", File ( path: "materials/window_glass.glb" )),
    ("window_frame", File ( path: "materials/window_frame.glb" )),
    ("Building Beige", File ( path: "blueprints/Building Beige.glb" )),
    ("brick_shadeGreen", File ( path: "materials/brick_shadeGreen.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("brick_shadeGreen2", File ( path: "materials/brick_shadeGreen2.glb" )),
    ("sandstone", File ( path: "materials/sandstone.glb" )),
    ("window_glass", File ( path: "materials/window_glass.glb" )),
    ("door_white", File ( path: "materials/door_white.glb" )),
    ("window_frame", File ( path: "materials/window_frame.glb" )),
    ("Building Beige Corner Pizza", File ( path: "blueprints/Building Beige Corner Pizza.glb" )),
    ("White", File ( path: "materials/White.glb" )),
    ("brick_shadeGreen", File ( path: "materials/brick_shadeGreen.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("brick_shadeGreen2", File ( path: "materials/brick_shadeGreen2.glb" )),
    ("sandstone", File ( path: "materials/sandstone.glb" )),
    ("window_glass", File ( path: "materials/window_glass.glb" )),
    ("red", File ( path: "materials/red.glb" )),
    ("door_white", File ( path: "materials/door_white.glb" )),
    ("window_frame", File ( path: "materials/window_frame.glb" )),
    ("Building Black", File ( path: "blueprints/Building Black.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("sandstone", File ( path: "materials/sandstone.glb" )),
    ("brick_shade3", File ( path: "materials/brick_shade3.glb" )),
    ("window_glass", File ( path: "materials/window_glass.glb" )),
    ("window_frame", File ( path: "materials/window_frame.glb" )),
    ("Building Red Barren", File ( path: "blueprints/Building Red Barren.glb" )),
    ("brick_shade1", File ( path: "materials/brick_shade1.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("brick_shade2", File ( path: "materials/brick_shade2.glb" )),
    ("sandstone", File ( path: "materials/sandstone.glb" )),
    ("window_glass", File ( path: "materials/window_glass.glb" )),
    ("window_frame", File ( path: "materials/window_frame.glb" )),
    ("Buliding Big", File ( path: "blueprints/Buliding Big.glb" )),
    ("BrickRed", File ( path: "materials/BrickRed.glb" )),
    ("Brown", File ( path: "materials/Brown.glb" )),
    ("LightYellow", File ( path: "materials/LightYellow.glb" )),
    ("Beige", File ( path: "materials/Beige.glb" )),
    ("DarkGrey", File ( path: "materials/DarkGrey.glb" )),
    ("Grey", File ( path: "materials/Grey.glb" )),
    ("Air Conditioner", File ( path: "blueprints/Air Conditioner.glb" )),
    ("Mat", File ( path: "materials/Mat.glb" )),
    ("Fire Exit", File ( path: "blueprints/Fire Exit.glb" )),
    ("metal_shade1", File ( path: "materials/metal_shade1.glb" )),
    ("Roof", File ( path: "blueprints/Roof.glb" )),
    ("sandstone", File ( path: "materials/sandstone.glb" )),
    ("Poster", File ( path: "blueprints/Poster.glb" )),
    ("poster", File ( path: "materials/poster.glb" )),
    ("Traffic Light", File ( path: "blueprints/Traffic Light.glb" )),
    ("Atlas.052", File ( path: "materials/Atlas.052.glb" )),
    ("Mailbox", File ( path: "blueprints/Mailbox.glb" )),
    ("sign", File ( path: "materials/sign.glb" )),
    ("mailbox", File ( path: "materials/mailbox.glb" )),
    ("sign_shade2", File ( path: "materials/sign_shade2.glb" )),
    ("Trash Container", File ( path: "blueprints/Trash Container.glb" )),
    ("DarkGrey", File ( path: "materials/DarkGrey.glb" )),
    ("Green", File ( path: "materials/Green.glb" )),
    ("Grey", File ( path: "materials/Grey.glb" )),
    ("Cone", File ( path: "blueprints/Cone.glb" )),
    ("Orange", File ( path: "materials/Orange.glb" )),
    ("Black", File ( path: "materials/Black.glb" )),
    ("Dark_gray", File ( path: "materials/Dark_gray.glb" )),
    ("White", File ( path: "materials/White.glb" )),
    ("Trash Bag", File ( path: "blueprints/Trash Bag.glb" )),
    ("mat17", File ( path: "materials/mat17.glb" )),
    ("Bus Stop", File ( path: "blueprints/Bus Stop.glb" )),
    ("BlueBusStop", File ( path: "materials/BlueBusStop.glb" )),
    ("LightBlue_BusStop", File ( path: "materials/LightBlue_BusStop.glb" )),
    ("Bus Stop Sign", File ( path: "blueprints/Bus Stop Sign.glb" )),
    ("White", File ( path: "materials/White.glb" )),
    ("Silver", File ( path: "materials/Silver.glb" )),
    ("Orang", File ( path: "materials/Orang.glb" )),
    ("Black", File ( path: "materials/Black.glb" )),
    ("Grey", File ( path: "materials/Grey.glb" )),
    ("Box", File ( path: "blueprints/Box.glb" )),
    ("citybits_texture", File ( path: "materials/citybits_texture.glb" )),
    ("Fence Piece", File ( path: "blueprints/Fence Piece.glb" )),
    ("metal_fence", File ( path: "materials/metal_fence.glb" )),
    ("brick_shade2", File ( path: "materials/brick_shade2.glb" )),
    ("brick_shade1", File ( path: "materials/brick_shade1.glb" )),
    ("sandstone_light", File ( path: "materials/sandstone_light.glb" )),
    ("Grass", File ( path: "blueprints/Grass.glb" )),
    ("Grass", File ( path: "materials/Grass.glb" )),
    ("Fence End", File ( path: "blueprints/Fence End.glb" )),
    ("metal_fence", File ( path: "materials/metal_fence.glb" )),
    ("brick_shade2", File ( path: "materials/brick_shade2.glb" )),
    ("brick_shade1", File ( path: "materials/brick_shade1.glb" )),
    ("sandstone_light", File ( path: "materials/sandstone_light.glb" )),
    ("Bench", File ( path: "blueprints/Bench.glb" )),
    ("mat20", File ( path: "materials/mat20.glb" )),
    ("mat19", File ( path: "materials/mat19.glb" )),
    ("Tree", File ( path: "blueprints/Tree.glb" )),
    ("Tree", File ( path: "materials/Tree.glb" )),
    ("Bush", File ( path: "blueprints/Bush.glb" )),
    ("Tree", File ( path: "materials/Tree.glb" )),
    ("Metal Fence", File ( path: "blueprints/Metal Fence.glb" )),
    ("Silver", File ( path: "materials/Silver.glb" )),
    ("Overpass Tunnel", File ( path: "blueprints/Overpass Tunnel.glb" )),
    ("Black", File ( path: "materials/Black.glb" )),
    ("citybits_texture", File ( path: "materials/citybits_texture.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("Overpass Block", File ( path: "blueprints/Overpass Block.glb" )),
    ("citybits_texture", File ( path: "materials/citybits_texture.glb" )),
    ("concrete", File ( path: "materials/concrete.glb" )),
    ("Npc Pizza", File ( path: "blueprints/Npc Pizza.glb" )),
    ("Woman", File ( path: "materials/Woman.glb" )),
    ("Npc Mail", File ( path: "blueprints/Npc Mail.glb" )),
    ("Pants", File ( path: "materials/Pants.glb" )),
    ("Eyes", File ( path: "materials/Eyes.glb" )),
    ("Hair", File ( path: "materials/Hair.glb" )),
    ("Skin", File ( path: "materials/Skin.glb" )),
    ("Shirt", File ( path: "materials/Shirt.glb" )),
    ("Socks", File ( path: "materials/Socks.glb" )),
   ]
)